.nav-link {
  cursor: pointer;
}

.nav-item {
  .dropdown-item {
    cursor: pointer;
    padding-bottom: 7px;
    padding-top: 7px;
  }
}

.navbar-toggleable-xl .navbar-nav .dropdown-menu {
  position: absolute;
}

.navbar {
  .search-opener {
    img {
      margin-right: 1ch;
      opacity: .6;
    }

    &:focus {
      outline: none;
    }

    &:hover {
      img {
        opacity: 1;
      }
    }
  }
}
